.sideBar {
    position: fixed;
    width: 3.5vw;
    height: 100%;
    background: #000;
    top: 0;
    left: 0;
}
.sideBarUL {
    color: white;
    list-style: none;
    padding-left: 0px;
    display: flex;
    flex-direction: column;
    height: 35%;
    justify-content: flex-start;
    align-items: center;
}
.sideBarUL li{
    margin-bottom: 5vh;
}
.popUL{
    color: white;
    
}
.popgreen{
    color: rgb(55, 141, 55);
}
