<div [className]=" 'sideBar' ">
    
  <ul [className]=" 'sideBarUL' ">
    <li *ngFor="let sideBarIcon of sideBarIcons" [className]="sideBarIcon.name">
        <a *ngIf="sideBarIcon.name === 'Logo'"  [title]="sideBarIcon.name + ':' + ' ' + sideBarIcon.description">
            <fa-icon [className]=" 'popUL' " [icon]='faInfinity' size="3x"></fa-icon>
        </a>
    
        <a *ngIf="sideBarIcon.name === 'Home'"  [title]="sideBarIcon.name + ':' + ' ' + sideBarIcon.description">
            <fa-icon [className]=" 'popgreen' " [icon]='faHome' size="3x"></fa-icon>
        </a>
        <a *ngIf="sideBarIcon.name === 'Folders'"  [title]="sideBarIcon.name + ':' + ' ' + sideBarIcon.description">
            <fa-icon [className]=" 'popUL' " [icon]='faFolder' size="3x"></fa-icon>
           
        </a>

      </li>
    
  </ul>
</div>
