/* You can add global styles to this file, and also import other style files */
html, body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: rgb(250, 249, 249);
}
h1{
    font-weight: 400;
}
p{
    font-weight: 300;
}
h2{
    font-weight: 400;
    font-size: 1.6em
}
h3{
    font-weight: 300;
    font-size: 1.3em;
}
