<div [className]=" 'dashboard' ">
  <div [className]=" 'top' ">
    <h2>Home Dashboard</h2>
    <a> Example Filter &nbsp;<fa-icon [icon]="faCaretDown" ></fa-icon></a>
  </div>
  <div [className]=" 'topCharts' ">
    <div>
      <h3>summary of items</h3>
      <p>description</p>
      <div>
        <canvas id="pieChart"></canvas>
      </div>
    </div>
    <div>
      <h3>comparison of items</h3>
      <p>description</p>
      <div>
        <canvas id="barChart"></canvas>
      </div>
    </div>
    <div>
      <h3>Top 5</h3>
      <p>description</p>
      <li [className]=" 'sortedDatesLi' "  *ngFor="let dataDate of dataDates">
        {{dataDate.name}}
        {{dataDate.condition}}
        {{ dataDate.date }}
      </li>
    </div>
  </div>
  


  <div [className]=" 'bottomChart' ">
    <div>
      <h3>Over Time</h3>
      <p>description</p>
    </div>
  </div>
  
</div>
