.dashboard{
    height: 100%;
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 6vh;
    padding-left: 3.5vw;
   
}
.top{
    display: flex;
    width: inherit;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    >h2{
        color: rgb(114, 112, 112);
        font-weight: 100;
    }
    >a{
        box-shadow: 2.5px 2.5px rgba(119, 119, 119, 0.678);
        background-color: white;
        padding-left: 8px;
        padding-right: 8px;
        padding-top: 3px;
        padding-bottom: 3px;
        border-radius: 4px;
    }

}
.topCharts{
    display: flex;
    width: inherit;
    flex-direction: row;
    justify-content: space-between;
    >div{
        background: rgb(250, 249, 249);
        box-shadow: 3.5px 3.5px rgba(119, 119, 119, 0.678);;
        border-radius: 8px;
        width: 30.6%;
        height: 32vh;
        padding: 1%;
        >h3{
            margin: 0px;
        }
        >p{
            margin: 0.5px;
            color: rgb(114, 112, 112);
        }
    }
}
.bottomChart{
    display: flex;
    width: inherit;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 1.5vh;
    >div{
    background: rgb(250, 249, 249);
    box-shadow: 3.5px 3.5px rgba(119, 119, 119, 0.678);
    border-radius: 8px;
    height: 41vh;
    padding: 1%;
    >h3{
        margin: 0px;
    }
    > p{
        margin: 0.5px;
        color: rgb(114, 112, 112);
    }
    }
}