<div [className]=" 'dashboard' ">
  <div [className]=" 'top' ">
    <h2>Home Dashboard</h2>
    <button> Example Filter</button>
  </div>
  <div [className]=" 'topCharts' ">
    <div>
      <h3>summary of items</h3>
      <p>description</p>
    </div>
    <div>
      <h3>comparison of items</h3>
      <p>description</p>
    </div>
    <div>
      <h3>Top 5</h3>
      <p>description</p>
    </div>
  </div>


  <div [className]=" 'bottomChart' ">
    <div>
      <h3>Over Time</h3>
      <p>description</p>
    </div>
  </div>

</div>
