.dashboard{
    height: 100%;
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 8vh;
    padding-left: 3.5vw;
   
}
.top{
    display: flex;
    width: inherit;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    >h2{
        color: rgb(114, 112, 112);
        
    }
    >a{
        box-shadow: 5px 5px 5px rgba(119, 119, 119, 0.678);
        background-color: white;
        padding-left: 8px;
        padding-right: 8px;
        padding-top: 3px;
        padding-bottom: 3px;
        border-radius: 4px;
    }

}
.topCharts{
    display: flex;
    width: inherit;
    flex-direction: row;
    justify-content: space-between;
    >div{
        background: rgb(250, 249, 249);
        box-shadow: 6px 6px 5px rgba(119, 119, 119, 0.678);;
        border-radius: 8px;
        width: 30.6%;
        height: 32vh;
        padding: 1%;
        
        >h3{
            margin: 0px;
            
        }
        >p{
            margin-top: 2%;;
            color: rgb(114, 112, 112);
            
            
        }
    }
}
ol{
    padding-left: 3%;
    padding-right: 3%;
    height: 100%;
    counter-reset: item;
    list-style-type: none;
    >li{
        padding-bottom: 5%;
        font-size: 1.1em;
    }
}
li:before {
    content: counter(item) "";
    counter-increment: item;
    font-weight: 300;

}

.sortedDatesLi{
    width: 100%;
    padding-bottom: 8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    >.name{
        
        margin-left: 7%;
        width: 20%;
        font-weight: 400;
        
    }
    > .date, .condition{
        width: 33%;
        font-weight: 300;
        
    }
    
    > div{
        font-size: 1.1em;
        >a{
            >fa-icon{
                color: rgb(34, 194, 101);
            }
        }
    }
}

.bottomChart{
    display: flex;
    width: inherit;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 1.5vh;
    >div{
    background: rgb(250, 249, 249);
    box-shadow: 6px 6px 5px rgba(119, 119, 119, 0.678);
    border-radius: 8px;
    height: 41vh;
    padding: 1%;
    >.word-container{
        display: flex;
        align-items: center;
        padding-bottom: 2%;
    >h3{
        margin: 0px;
        margin-right: .2%;

    }
    > p{
        margin: 0.5px;
        color: rgb(114, 112, 112);
    }
}
    }
}
.container{
  height: 85%;
}