<div [className]=" 'dashboard' ">
  <div [className]=" 'top' ">
    <h2>Home Dashboard</h2>
    <a> Example Filter &nbsp;<fa-icon [icon]="faCaretDown" ></fa-icon></a>
  </div>
  <div [className]=" 'topCharts' ">
    <div>
      <h3>Summary of tasks</h3>
      <p>Summary of In Progress vs New tasks</p>
      <app-doughnut-chart></app-doughnut-chart>
    </div>
    <div>
      <h3>Comparison of the current and next month</h3>
      <p>The tasks for the next two months compared</p>
      <app-bar-chart></app-bar-chart>
    </div>
    <div>
      <h3>Upcoming Tasks</h3>
      <p>The next 5 tasks</p>
      <ol>
      <li [className]=" 'sortedDatesLi' " *ngFor="let dataDate of dataDates">
        
       <div [className]= " 'name' ">{{dataDate.name}}</div>
        <div [className]= " 'condition' ">{{dataDate.condition}}</div>
      <div [className]= " 'date' ">{{ dataDate.date }}</div>
      <div><a><fa-icon [icon]="faLink" flip="vertical"></fa-icon></a></div>
    
      </li>
    </ol>
    </div>
  </div>
  


  <div [className]=" 'bottomChart' ">
    <div>
      <h3>Over Time</h3>
      <p>description</p>
      <div [className]=" 'container' ">
      <canvas id="lineChart"></canvas>
    </div>
    </div>
  </div>
  
</div>
