.topBar{
    position: fixed;
    width: 100%;
    top: 0;
    
}
.topBarFlex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: rgb(250, 249, 249);
    height: 2.5vw;
    box-shadow: 0px 3.5px rgba(119, 119, 119, 0.678);;
    align-items: center;
}
.topBarUL{
    width: 20%;
    list-style: none;
    padding-left: 0px;
    display: flex;
    justify-content: space-around;
    margin-right: 2vw;
}
.topBarH1{
    padding-left: 4.5vw;
    font-weight: 800;
    font-size: 20px;
 
}
.topBarH1 a{
    text-decoration: none;
    color: #000;
}