.topBar{
    position: fixed;
    right: 0;
    width: 95.5%;
    top: 0;
    z-index: 1;
    
}
.topBarFlex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: rgb(250, 249, 249);
    height: 3.5vw;
    box-shadow: 0px 6px 5px rgba(119, 119, 119, 0.678);
    align-items: center;
}
.topBarUL{
    width: 20%;
    list-style: none;
    padding-left: 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 2vw;
    color: rgba(70, 70, 70);

}
.topBarH1{
    padding-left: 1.5vw;
    font-size: 1.3em;
 
}
.profileImg{
    border-radius: 100px;
    height: 2.5vw;
}
.topBarH1 a{
    text-decoration: none;
    color: #000;
}
.profileName{
    font-size: 1.3em;
    font-weight: 300;
    color: #000;
}